@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html, body, body div, span, object, 
iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, abbr, address, cite, 
code, del, dfn, em, img, ins, kbd, q, samp, 
small, strong, sub, sup, var, b, i, dl, dt, 
dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, figure, footer, header, menu, nav, 
section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
        color: white;
        text-decoration: none;
    }

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root{
    --color-red: #f00;
    --color-green: #4BB69C;
    --color-blue: #00f;
    --color-white: #FFFFFF;
    --color-grey: #e5e5e5;
    --color-grey-bg: #ccc;
    --size-1: 14.5vw;
    --lineh-1: 0.8em;
    --kerning-1: -0.2vw;
    --size-2: 5vw;
    --size-2-double: 3.2vw;
    --lineh-2: 0.85em;
    --size-3-double: 3.8vw;
    --lineh-3-double: 1em;
    --size-3: 1.3vw;
    --lineh-3: 1.1em;
    --size-4: 0.9vw;
    --lineh-4: 1.3em;
    --size-5: 0.7vw;
    --lineh-5: 1.2em;
    --border-width: 2px;
    --lineh-single: 1em;
    --size-body: 0.9vw;
    --font-family-article: 'SNR';
}

body {
    background-color: var(--color-white);
}

.header {
    font-size: var(--size-2);
    color: var(--color-white);
    background-color: var(--color-green);
    text-align: center;
    padding: 10px;
}

.script {
    font-size: var(--size-3-double);
    margin: 8px;
    padding: 10px 10px 1px 10px;
}

.box {
    font-size: var(--size-2-double);   
    border: solid var(--border-width);  
    border-color: var(--color-grey);
    border-radius: 10px;
    text-align: justify;
    margin: 1px 15px 1px 15px;
    padding: 15px;  
    color: black;
    box-shadow: -5px -5px 20px var(--color-white),  5px 5px 20px var(--color-grey);
}

.box :hover {
    box-shadow: -2px -2px 5px var(--color-white), 2px 2px 5px var(--color-grey);
}

    * {
        box-sizing: border-box;
    }

    /* Add padding to containers */
    .container {
        padding: 16px;
        background-color: white;
    }

    /* Full-width input fields */
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 5px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus,
    input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Overwrite default styles of hr */
    hr {
        border: 4px solid #f1f1f1;
        margin-bottom: 5px;
    }

    /* Set a style for the submit button */
    .registerbtn {
        background-color: #369483;
        font-size: var(--size-2);
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .registerbtn:hover {
        opacity: 1;
    }

    .btn {
        background-color: #e5ebea;
        color: rgb(148, 143, 143);
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .btn:hover {
        opacity: 1;
        background-color: #5db161;
        color: white;
    }

    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
        background-color: #f1f1f1;
        text-align: center;
    }
.star {
    position: relative;
    font-size: 2rem;
    color: #ddd;
    left: 20%;
  }
  
.star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    opacity: 0;
    cursor: pointer;
  }
  
.star span {
    width: 0;
    position: absolute; 
    left: 0;
    color: red;
    overflow: hidden;
    pointer-events: none;
  }

.check {
    margin-left: 15px;
    margin-right: 15px;
}

#slider-wrap {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

#slider-wrap ul#slider {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#slider-wrap ul#slider li {
    float: left;
    position: relative;
    width: 600px;
    height: 400px;
}

#slider-wrap ul#slider li img {
    display: block;
    width: 100%;
    height: 100%;
}

/*btns*/
.slider-btns {
    position: absolute;
    width: 50px;
    height: 60px;
    top: 50%;
    margin-top: -25px;
    line-height: 57px;
    text-align: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    z-index: 100;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.slider-btns:hover {
    background: rgba(0, 0, 0, 0.3);
}

#next {
    right: -50px;
    border-radius: 7px 0px 0px 7px;
    color: #eee;
}

#previous {
    left: -50px;
    border-radius: 0px 7px 7px 7px;
    color: #eee;
}

#slider-wrap.active #next {
    right: 0px;
}

#slider-wrap.active #previous {
    left: 0px;
}

/*bar*/
#slider-pagination-wrap {
    min-width: 20px;
    margin-top: 350px;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    position: relative;
    text-align: center;
}

#slider-pagination-wrap ul {
    width: 100%;
}

#slider-pagination-wrap ul li {
    margin: 0 4px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
    position: relative;
    top: 0;
}

#slider-pagination-wrap ul li.active {
    width: 12px;
    height: 12px;
    top: 3px;
    opacity: 1;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
}

#footer {
    text-align: center;
    font-size: var(--size-3-double);
    color: var(--color-white);
    padding-top: 12px;
}
    