@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html, body, body div, span, object, 
iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, abbr, address, cite, 
code, del, dfn, em, img, ins, kbd, q, samp, 
small, strong, sub, sup, var, b, i, dl, dt, 
dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, figure, footer, header, menu, nav, 
section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Noto Sans KR', sans-serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root{
    --color-red: #f00;
    --color-green: #4BB69C;
    --color-blue: #00f;
    --color-white: #FFFFFF;
    --color-grey: #e5e5e5;
    --color-grey-bg: #ccc;
    --size-1: 14.5vw;
    --lineh-1: 0.8em;
    --kerning-1: -0.2vw;
    --size-2: 5vw;
    --lineh-2: 0.85em;
    --size-3-double: 3.8vw;
    --lineh-3-double: 1em;
    --size-3: 1.3vw;
    --lineh-3: 1.1em;
    --size-4: 0.9vw;
    --lineh-4: 1.3em;
    --size-5: 0.7vw;
    --lineh-5: 1.2em;
    --border-width: 2px;
    --lineh-single: 1em;
    --size-body: 0.9vw;
    --font-family-article: 'SNR';
}

body {
    background-color: var(--color-white);
}

.header {
    font-size: var(--size-2);
    color: var(--color-white);
    background-color: var(--color-green);
    text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* 요소의 최소 너비 지정, height 속성 무시
    vh단위는 브라우저 안쪽 높이(window.innerHeight)을 기준으로
    설정된다. 하지만 태블릿이나, 모바일의 경우에는 뷰 포트에 따라
    맞춰짐*/
  min-height: 8vh;
  background-color: var(--color-green);
  font-family: 'Noto Sans KR', sans-serif;
}

.logo {
  color: var(--color-white);
  text-transform: uppercase;
  /* 각 글자 2px씩 간격을 줌*/
  letter-spacing: 2px;
  font-size: var(--size-2);
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--color-white);
  margin: 5px;
  transition: all 0.2s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 92vh;
    background-color: var(--color-white);
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    z-index :99999 
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0.3;
      transform: translateX(5px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.head {
    font-size: var(--size-2);
    margin: 11px;
    
}

.script {
    font-size: var(--size-2);
    margin: 8px;
    padding: 10px 10px 1px 10px;
}

.btn {
    text-decoration: none;
    text-align: center;
    font-size: var(--size-2);
    background-color:var(--color-green);
    color: var(--color-white);
    padding: 10px 20px 10px 20px;
    margin: 8px;
    width: 95%;
    display:inline-block;
    border-radius: 8px;
    transition:all 0.1s;
    cursor: pointer;
}

.small {
    font-size: var(--size-3-double);
    color: #727272;
    margin-top: 10px;
    display: inline block;
}

.box {
    font-size: var(--size-3-double);   
    border: solid var(--border-width);  
    border-color: var(--color-grey);
    border-radius: 10px;
    text-align: justify;
    margin: 1px 15px 1px 15px;
    padding: 15px;  
    color: black;
    box-shadow: -5px -5px 20px var(--color-white),  5px 5px 20px var(--color-grey);
}

.box :hover {
    box-shadow: -2px -2px 5px var(--color-white), 2px 2px 5px var(--color-grey);
}

.emoji {
    padding: 0px, 0px, 30px;
    max-width: 10%;
    max-height: 100%;
}

/* Overwrite default styles of hr */
hr {
  border: 8px solid #f1f1f1;
  margin-bottom: 5px;
  margin-top: 15px;
}

.hr {
  border: 3px solid #f1f1f1;
  margin-bottom: 5px;
  margin-top: 3px;
}

#footer {
    text-align: center;
    font-size: var(--size-3-double);
    color: var(--color-white);
    padding-top: 12px;
}

.wrap {
  width: 200px;
}

.text-box {
  font-family:'Noto Sans KR', sans-serif; 
  font-size: 11px;
}

.img-box { 
  overflow: hidden;
  max-height: 100%;
  width: 100%; 
  margin: -20px auto 0;
}

h4 {
  text-align: center; 
  font-weight: 400; 
  padding: 10px; 
  background-color: #4BB69C; 
  color: white; 
  margin: 0; 
  border-radius: 2px 2px 0 0;
}

.cleanliness {
  font-size: 13px; 
  color: red;
}

.waste {
  font-size: 10px; 
  width: 70px; 
  text-align: center; 
  margin-top: 5px;  
  background-color: #FFFFFF; 
  color: gray; 
  border-radius: 8px; 
  border: 1px solid; 
  border-color: grey;
}