@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html, body, body div, span, object, 
iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, abbr, address, cite, 
code, del, dfn, em, img, ins, kbd, q, samp, 
small, strong, sub, sup, var, b, i, dl, dt, 
dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, figure, footer, header, menu, nav, 
section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root{
    --color-red: #f00;
    --color-green: #4BB69C;
    --color-blue: #00f;
    --color-white: #FFFFFF;
    --color-grey: #e5e5e5;
    --color-grey-bg: #ccc;
    --size-1: 14.5vw;
    --lineh-1: 0.8em;
    --kerning-1: -0.2vw;
    --size-2: 5vw;
    --lineh-2: 0.85em;
    --size-3-double: 3.8vw;
    --lineh-3-double: 1em;
    --size-3: 1.3vw;
    --lineh-3: 1.1em;
    --size-4: 0.9vw;
    --lineh-4: 1.3em;
    --size-5: 0.7vw;
    --lineh-5: 1.2em;
    --border-width: 2px;
    --lineh-single: 1em;
    --size-body: 0.9vw;
    --font-family-article: 'SNR';
}

body {
    background-color: var(--color-white);
}

.header {
    font-size: var(--size-2);
    color: var(--color-white);
    background-color: var(--color-green);
    text-align: center;
    padding: 10px;
}

.head {
    font-size: var(--size-2);
    margin: 11px;
    
}

.script {
    font-size: var(--size-2);
    margin: 8px;
    padding: 10px 10px 1px 10px;
}

.btn {
    text-decoration: none;
    text-align: center;
    font-size: var(--size-2);
    background-color:var(--color-green);
    color: var(--color-white);
    padding: 10px 20px 10px 20px;
    margin: 8px;
    width: 95%;
    display:inline-block;
    border-radius: 8px;
    transition:all 0.1s;
    cursor: pointer;
}

.small {
    font-size: var(--size-3-double);
    color: #727272;
    margin-top: 10px;
    display: inline block;
}

.box {
    font-size: var(--size-3-double);   
    border: solid var(--border-width);  
    border-color: var(--color-grey);
    border-radius: 10px;
    margin: 1px 15px 1px 15px;
    padding: 15px;  
    color: black;
    box-shadow: -5px -5px 20px var(--color-white),  5px 5px 20px var(--color-grey);
}

.box :hover {
    box-shadow: -2px -2px 5px var(--color-white), 2px 2px 5px var(--color-grey);
}

.emoji {
    padding: 0px, 0px, 30px;
    max-width: 10%;
    max-height: 100%;
}

/* Overwrite default styles of hr */
    hr {
        border: 8px solid #f1f1f1;
        margin-bottom: 5px;
        margin-top: 15px;
    }

#footer {
    text-align: center;
    font-size: var(--size-3-double);
    color: var(--color-white);
    padding-top: 12px;
}